
@import url("fonts.css");

@import url("reset.css");




.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}

[class*="__container"]{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}


.page {
}
.page-section {
  padding-bottom: 100px;
}
.section-pretty {
   background:  #FEFAF4 url("../img/decor.webp")right 380px /171px no-repeat;
   
}
.pretty-stones__text {
   display: flex;
   row-gap: 27px;
   flex-direction: column;
}
.pretty-stones__title {
   font-size: 58px;
   color: #000000;

}
.pretty-stones__title,
.content-text__title,
.earrings__title,
.lineup__title{
   font-family: "DM Serif Text",sans-serif;
}
.pretty-stones__subtitle {
   font-size: 20px;
   line-height: 1.8;
   color: #606060;
   margin-bottom: 53px;
}
.content-text__box,
.pretty-stones__subtitle,
.content-text__link{
   font-family: "Inter",sans-serif;
}
.pretty-stones__block {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -20px; 
}
.pretty-stones__item {
   padding: 0 20px;
   flex: 0 0 33.333%;
}
.pretty-stones__link {
overflow: hidden;
}
.pretty-stones__link:not(:last-child){
   margin-bottom: 16px;
}
.pretty-stones__link img{
   width: 100%;
   height: 100%;
   aspect-ratio: 357/ 240;
   object-fit: contain;
   background-color: #606060;
   transition: all 0.3s;

}
.content-text {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   flex-grow: 1;
   row-gap: 16px;
}
.content-text__title {
   font-size: 24px;
   line-height: 1.2;
   color: #000000;
}
.content-text__box {
   font-size: 16px;
   color: #000000;
   line-height: 1.6;
}
.content-text__link {
   color: #F55529;
   font-size: 16px;
   line-height: 1.5;
   font-weight: 800;
   display: flex;
   justify-content: space-between;
   align-items: center;
   row-gap: 20px;
}
.content-text__link::after{
   content: "";
   background: url("../img/arrow.svg")center/contain no-repeat;
   height: 24px;
   width: 24px;
   flex: 0 0 24px;
}
@media (any-hover:hover) {
   .pretty-stones__item:hover .pretty-stones__link img{
      transform: scale(1.1);
   }
   
}
@media (any-hover:hover){
   .content-text:hover .content-text__link{
      text-transform: uppercase;
   }
}

@media(max-width:850px){
   .pretty-stones__item{
      flex: 1 0 50%;
      
   }
   .pretty-stones__item:not(:last-child){
      margin-bottom: 16px;
   } 
}
@media(max-width:370px){
   .pretty-stones__item{
      flex: 1 0 100%;
   }
}
@media(max-width:608px){
   .pretty-stones__title{
      font-size: 40px;
   }
}
.earrings__body {
   padding-bottom: 100px;
}
.earrings__text {
   display: flex;
   flex-direction: column;
   row-gap: 27px;
   text-align: center;
}
.earrings__title {
font-size: 58px;
color: #291403;
}
.earrings__subtitle {
   font-family: "Cormorant Infant",sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 1.4;
text-align: center;
color: #818181;
margin-bottom: 62px;
}
.earrings__block {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -30px;
}
.earrings__item {
   padding: 0 30px;
   flex: 1 0 25%;
  
}
.earrings__image {
   overflow: hidden;
   transition: tranform 0.3s;
}
.earrings__image img{
   height: 100%;
   width: 100%;
   aspect-ratio: 271/270;
   object-fit: contain;
   background-color: #FFFF;
  
}
.earrings__image:not(:last-child){
   margin-bottom: 17px;
}

.earrings-content__link{
   display: flex;
   flex-direction: column;
   row-gap: 13px;
   transition: text-decoration 0.3s;
}

.earrings-content__title,
.earrings-content__price {
   font-family: "Cormorant Infant",sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1.4;
color: #000000;
text-align: left;

}
.earrings-content__price {
  margin-bottom: 76px;
}
.earrings__tuch{
   display: flex;
   justify-content: center;
   align-items: center;

}
.earrings__button {
   font-family: "Ubuntu",sans-serif;
   font-weight: 500;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 1.87;
   background-color: #FF7A49;
   text-align: center;
   padding: 12px 42px;
   border: 1px solid transparent;
   display: inline-block; 
   opacity: 0.7;
}

@media(any-hover:hover){
   .earrings__item:hover .earrings__image img{
      transform: scale(1.1);
   }
   .earrings__tuch:hover .earrings__button{
      opacity: 1;
}
.earrings-content:hover .earrings-content__link{
   text-decoration: underline #F55529;

}
}

@media(max-width:820px){
   .earrings__item{
      flex:1 0 50%;
   }
}

@media(max-width:390px){
   .earrings__item{
      flex: 1 0 100%;
   }
}
@media(max-width:400px){
   .earrings__title{
      font-size: 40px;
   }
   .earrings__subtitle{
      font-size: 20px;

   }
}
.lineup {
   background-color: #0E333D;
}

.lineup__text {
   display: flex;
   flex-direction: column;
   row-gap: 23px;
   text-align: center;
   margin-bottom: 34px;
}
.lineup__title {
font-size: 48px;
color: #FFFFFF;
line-height: 1.27;

}
.lineup__subtitle,
.lineup__list-item {
   font-family: "Raleway",sans-serif;
}

.lineup__subtitle {
font-size: 20px;
font-weight: 500;
line-height: 1.27;
color:#EBEBEB;

}
.lineup__list {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 41px;
   transition: all 0.3s;
    
}
.lineup__list--margin:not(:last-child) {
   margin-bottom: 77px;
}
.lineup__list-item {
font-size: 18px;
font-weight: 600;
line-height: 1.27;
color: #FFFFFF;

}
.lineup__list-link {
   flex: 1 0 25%;
}

.lineup__block {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
}
.lineup__item {
   padding: 0 10px;
   flex: 1 0 25%;  
}

.lineup__image {
  overflow: hidden;
  border-radius: 5px;
  
}
.lineup__image img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   aspect-ratio: 271/270;
   background-color: #0E333D;
   transition: transform 0.3s;
}
.lineup__image:not(:last-child){
   margin-bottom: 17px;
}

.lineup-content {
   transition: all 0.3s;
}
.lineup-content__link {
   display: flex;
   flex-direction: column;
   row-gap: 13px;
   text-align: left;
}
.lineup-content__title,
.lineup-content__price {
font-family: "Cormorant Infant",sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1.4;
color: #FFFFFF;
}

@media(any-hover:hover){
   .lineup__list-item:hover .lineup__list-link{
     text-decoration: underline #FFFFFF;

   }
   .lineup__item:hover .lineup__image img{
      transform: scale(1.1);

   }
   .lineup-content:hover .lineup-content__link{
text-decoration: underline #EBEBEB;
   }

}
@media(max-width:1116px){
   .lineup{
      padding-top: 30px;
      padding-bottom: 30px;
   }
}
@media(max-width:680px){
   .lineup-content__title,
   .lineup-content__price{
      font-size: 18px;
      font-weight: 500;
   }
  
   .lineup__title{
      font-size: 30px;
   }
   .lineup__subtitle {
      font-size: 14px;
   }
}
@media(max-width:604px){
   .lineup__item {
      margin-top: -60px;
   }

}
@media(max-width:592px){
   .lineup__item{
      flex: 1 0 50%;
   }
   .lineup__list--margin{
      flex-wrap: wrap;
      padding-bottom: 10px;

   }
   .lineup__list-item{
      margin-bottom: 30px;
   }

}
@media(max-width:301px){
   .lineup__item {
      flex: 1 0 100%;
   }
}

