*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FFFFFF;
  border-bottom: 1px solid #BEBCBD;
}
.header__container {
  max-width: 1267px;
  margin: 0 auto;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 108px;
  gap: 20px;
}
@media (max-width: 1153.98px) {
  .header__container {
    min-height: 54px;
  }
}
@media (max-width: 371px) {
  .header__container {
    gap: 2px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__search {
  position: relative;
  margin-right: 76px;
}
@media (max-width: 714px) {
  .header__search {
    display: none;
  }
}
.header__search input {
  background-color: #F6F6F6;
  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 52px;
  font-family: "Causten";
  color: #807D7E;
  font-size: 16px;
}
.header__search button {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 1153.98px) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(139, 51, 253, 0.603);
    padding: 80px 15px 30px 15px;
    color: #000;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    height: 50px;
    width: 100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: rgba(139, 51, 253, 0.41);
    color: #000;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
@media (max-width: 1153.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
}
.menu__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__link {
  font-family: "Causten";
  font-size: 22px;
  line-height: 1.2;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 1153.98px) {
  .menu__link {
    font-size: 28px;
  }
  .menu__list .menu__link {
    display: block;
  }
  .menu__list .menu__link::after {
    display: none;
  }
}
.menu__item--bold {
  font-weight: 700;
  color: #3C4242;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 12px;
  z-index: 1;
}
@media (max-width: 371px) {
  .header-actions {
    gap: 5px;
  }
}
.header-actions__item {
  padding: 12px 12px;
  background-color: #F6F6F6;
  border-radius: 8px;
}

.icon-menu {
  display: none;
}
@media (max-width: 1153.98px) {
  .icon-menu {
    width: 30px;
    display: block;
    border: none;
    outline: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #3C4242;
  }
  .icon-menu::before {
    top: 5px;
  }
  .icon-menu::after {
    bottom: 5px;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.clothing__container {
  margin: 0 auto;
  max-width: 925px;
  padding: 158px 15px;
}
@media (max-width: 539.98px) {
  .clothing__container {
    padding-top: 90px;
  }
}
.clothing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  min-height: 26px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.clothing__body:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 1095px) {
  .clothing__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 539.98px) {
  .clothing__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.clothing__title {
  font-family: "Causten";
  font-size: 22px;
  color: #3C4242;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 539.98px) {
  .clothing__title {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 20px;
  }
}
.clothing__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
@media (max-width: 980px) {
  .clothing__actions {
    gap: 15px;
  }
}
.clothing__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 50px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
@media (max-width: 980px) {
  .clothing__section {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 20px;
  }
}
.clothing__item {
  display: grid;
  gap: 30px;
  position: relative;
}

.actions__new {
  color: #8A33FD;
  font-family: "Causten";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.actions__new:hover {
  color: rgba(171, 10, 10, 0.7333333333);
}
@media (max-width: 539.98px) {
  .actions__new {
    font-size: 18px;
    font-weight: 500;
  }
}
.actions__rec {
  font-family: "Causten";
  font-size: 22px;
  color: #3C4242;
  font-weight: 600;
  line-height: 1.2;
}
.actions__rec:hover {
  color: #8A33FD;
}
@media (max-width: 539.98px) {
  .actions__rec {
    font-size: 18px;
    font-weight: 500;
  }
}

.item__link-image {
  display: block;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.item__link-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  min-height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
          box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
}
.item__favorite {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #FFFFFF url(../img/favorite.svg) center/32px no-repeat;
  -webkit-box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
          box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
.item__favorite:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__content {
  display: grid;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 980px) {
  .item__content {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.item__title {
  font-family: "Causten";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #3C4242;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.item__title:hover {
  color: rgba(139, 51, 253, 0.6666666667);
}
@media (max-width: 980px) {
  .item__title {
    font-weight: 500;
  }
}
.item__brand {
  color: #807D7E;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Causten";
}
@media (max-width: 980px) {
  .item__brand {
    font-size: 12px;
  }
}
.item__price {
  background-color: #F6F6F6;
  border-radius: 8px;
  padding: 16px 20px;
  text-align: center;
  font-weight: 700;
  color: #3C4242;
  font-family: "Causten";
  font-size: 14px;
  line-height: 1.2;
  min-height: 36px;
}
@media (max-width: 980px) {
  .item__price {
    font-weight: 500;
  }
}