
@import url("fonts.css");

@import url("reset.css");


body{
   background-color: #F5F5FA;
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
.wrapper > main{
   flex-grow: 1;
}


[class*="__container"]{
  max-width: 1270px;
  margin: 0 auto;
  padding: 15px 15px;
}


.page {
}
.explore {

}
.explore__container {
  
}


.explore__body {
   position: relative;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(290px, 1fr));
   row-gap: 100px;
   column-gap: 30px;
   justify-content: space-between;
}
@media(max-width:1110px){
   .explore__body{
      grid-template-columns: repeat(1,1fr);
      row-gap: 20px;
      
}
}
@media(max-width:1024px){
.explore__body{
   grid-template-columns: repeat(1,1fr);
   row-gap: 10px;
   padding: 20px 100px;
}
}
.explore__item {
background: url(../img/bk1.jpg)0 0/ cover no-repeat;
width: 100%;
height: 100%;
object-fit: cover;
aspect-ratio: 605/355;
max-width: 605px;
border-radius: 12px;
padding: 67px 342px 80px 28px;

}

.explore__item--two{
background: url(../img/bk2.jpg)0 0/ cover no-repeat;
width: 100%;
height: 100%;
aspect-ratio: 605/355;
width: 605px;
object-fit: cover;
border-radius: 12px;
padding: 57px 310px 55px 30px;
}

.explore__label {
   font-family: "Montserrat",sans-serif;
   font-weight: 800;
   font-size: 18px;
   color: #FFFFFF;
   line-height: 1.67;
   letter-spacing: 0.25px;

}
.explore__label:not(:last-child){
   margin-bottom: 24px;
}
.explore__title {
   font-family: "Core Sans C",sans-serif;
font-size: 34px;
font-weight: 800;
line-height:1.32;
color: #FFFFFF;
}
.explore__title:not(:last-child){
   margin-bottom: 10px;
}
@media(max-width:1276px){
   .explore__title{
      font-size: 25px;
      font-weight: 600;
   }
}
.explore__subtitle {
   font-family: "Core Sans C",sans-serif;
font-size: 16px;
font-weight: 500;
line-height:1.56;
letter-spacing: 0.25px;
color: #FFFFFF;
}
.explore__subtitle:not(:last-child){
   margin-bottom: 21px;
}

.explore__subtitle--two{
margin-bottom: 30px;
}
.explore__link {
   font-family: "Core Sans C",sans-serif;
font-size: 20px;
font-weight: 800;
color: #FFFFFF;
line-height: 1.50;
transition: opacity 0.3s;
}
.explore__container .explore__link{
   text-decoration: underline #FFFFFF;
}
@media(any-hover: hover){
   .explore__container .explore__link:hover{
      opacity:0.5;
   }
}




.arrival:not(:last-child) {
  margin-bottom: 95px;
}
.arrival__container {
}
.arrival__title {
   font-family: "Core Sans C",sans-serif;
font-size: 34px;
font-weight: 600;
line-height: 0.98;
letter-spacing: 0.68px;
color: #3C4242;
}
.arrival__title:not(:last-child){
   margin-bottom: 70px;
}

.arrival__title::before{
   content: "";
   width: 6px;
   height: 30px;
   border-radius: 10px;
   background-color: #8A33FD;
   display: inline-block;
   margin-right: 20px;
}
@media(max-width:1024px){
   .arrival__title{
      text-align: center;

   }
}
.arrival__items {
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(263px, 1fr));
   column-gap: 38px;
   
}

@media(max-width:974px){
   .arrival__items{
      display: grid;
      grid-template: repeat(2,1fr) / repeat(2,1fr);
      padding: 0px 120px;
     
   }
   
}
.arrival__item {
 
}
.item {
   display: grid;
gap: 33px;
}


.item__link-image {
   display: block;
  
}
.item__image{
   overflow: hidden;

}
.item__image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   aspect-ratio: 263 / 263;
   border-radius: 12px;
   transition: transform 0.3s ease;
   transform: scale(1.02);
}
@media (any-hover: hover) {
   .item:hover .item__image{
      transform: scale(1.02);
   }
}

.item__content {
   
}
.item__link-title {
   display: block;
}
.item__title {
   font-family: "Causten",sans-serif;
font-size: 20px;
font-weight: 700;
color: #3C4242;
line-height: 1.2;
letter-spacing: 0.2px;
transition:all, 0.3s ;
}
@media(any-hover: hover){
   .item__content:hover  .item__title{
      text-decoration: underline;
   }
}






.saving-zone {
}
.saving-zone__container {
}
.saving-zone__title {
   font-family: "Core Sans C",sans-serif;
font-size: 34px;
font-weight: 600;
line-height: 0.98;
letter-spacing: 0.68px;
color: #3C4242;
margin-bottom: 70px;
}
.saving-zone__title::before{
   content: "";
   display: inline-block;
   width: 6px;
   height: 30px;
   background-color: #8A33FD;
   border-radius: 10px;
   margin-right: 20px;
}

.saving-zone__items {
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap: 20px;
}
.saving-zone__item {
   grid-column: span 2;
}
.item-zone {
   position: relative;
   border-radius: 12px;


}

.item-zone--white {
   color: #FFFFFF;
}
.item-zone--left {
padding: 64px 233px 64px 20px;
}
.item-zone--left .item-zone__link span{
   border: 2px solid #FFFFFF;
}
.item-zone__image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: top;
}
.item-zone__body {
   display: flex;
   position: relative;
   flex-direction: column;
   row-gap: 30px;
   text-align: right;
   align-items: flex-end;

}
.item-zone__content {
   flex-grow: 1;
   row-gap: 10px;
   display: grid;
}
.item-zone__title {
   font-family: "Core Sans C",sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 1.37;

}
.item-zone__label {
   font-family: "Causten";
font-size: 14px;
font-weight: 600;
line-height: 1.2;

}
.item-zone__sale {
   font-family: "Causten";
font-size: 18px;
font-weight: 700;
line-height: 1.2;

}

.item-zone__link {
   font-family: "Causten";
   font-size: 12px;
   font-weight: 500;
  line-height: 1.2;
   text-align: center;
   display: flex;
   flex-direction: column;
   row-gap: 40px;
   transition:transform 0.4s ease-in-out;
}
@media(any-hover:hover){
   .item-zone:hover .item-zone__arrow {
      transform: scale(1.4);
   }
}

.item-zone__link span{
width: 132px;
min-height: 36px;
padding: 8px 16px 8px 16px;
border: 2px solid #3C4242;
border-radius: 4px;
position: relative;
}
.item-zone__link span::before{
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   background-color: rgba(137, 145, 145, 0.349);
   transition: all 0.3s;
}
@media(any-hover: hover){
   .item-zone__link span:hover::before{
      top: 3px;
      left: -3px;
   }
}
.item-zone__arrow {
width: 23px;
min-height: 20px;
flex: 0 0 23px;
align-self: center;
}


.item-zone--limit {
padding: 35px 26px 41px 222px;
}
.item-zone--limit .item-zone__link span{
   border: 2px solid #FFFFFF;
}
.item-zone__link--black {
   background-color: #3C4242;
   color: #FFFFFF;
   border-radius: 4px;
   padding: 16px 8px;
   text-align: center;
   font-family: "Causten";
   font-size: 12px;
font-weight: 700;
line-height: 1.2;
width: 104px;
min-height: 34px;
transition:backgraund-color 0.4s ease-in;

}
@media(any-hover: hover){
   .item-zone__link--black:hover{
      background-color: rgba(0, 0, 0, 0.384)
   }
}
.item-zone__body .item-zone__link--black{
   margin-left: 271px;
}
.item-zone--cargo {
   padding: 70px 17px 67px 227px;
}
.item-zone--width {
   grid-column: span 3;
   padding: 45px 120px 50px 350px;
}
.item-zone--width .item-zone__title{
   font-size: 32px;
}
.item-zone--width .item-zone__label{
   font-size: 16px;
}

.item-zone--width .item-zone__sale{
   font-size: 20px;
}
.item-zone--width .item-zone__link{
   row-gap: 44px;
}
.item-zone--width .item-zone__body {
   row-gap: 37px;
}

