@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/Fontspring-DEMO-coresansc65.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-coresansc65.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-75ExtraBold.woff") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-85HeavyIt.woff2") format("woff2"), url("../fonts/CoreSansC-85HeavyIt.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.feedback__container, .limit__container, .brands__container, .women__container, .men__container, .fashion__container, .header__container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0px 15px;
}

.feedback__title, .limit-title, .women__title, .men__title {
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  line-height: 0.98px;
  letter-spacing: 0.68px;
  color: #3C4242;
}
.feedback__title::before, .limit-title::before, .women__title::before, .men__title::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8A33FD;
  display: inline-block;
  margin-right: 20px;
}

.menu-open body {
  overflow: hidden;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body > * {
  font-family: "Causten";
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
  border-bottom: 1px solid #bebcbd;
}
.header__container {
  padding: 10px 0;
  min-height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__search {
  position: relative;
  margin-right: 76px;
}
.header__input {
  background-color: #f6f6f6;
  border: none;
  border-radius: 8px;
  padding: 12px 20px 12px 52px;
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
}
.header__button {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu__body {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1153.98px) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: rgba(51, 115, 253, 0.603);
    padding: 80px 15px 30px 15px;
    color: #000;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    height: 50px;
    width: 100%;
    z-index: 2;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: rgba(51, 115, 253, 0.603);
    color: #000;
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}
@media (max-width: 1153.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
}
.menu__item--bold {
  font-weight: 700;
  color: #3C4242;
}
.menu__link {
  font-size: 22px;
  line-height: 1.2;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
    color: #433f3f;
  }
}
@media (max-width: 1153.98px) {
  .menu__link {
    font-size: 28px;
  }
  .menu__list .menu__link {
    display: block;
  }
  .menu__list .menu__link::after {
    display: none;
  }
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
  z-index: 5;
}
@media (max-width: 371px) {
  .header-actions {
    gap: 5px;
  }
}
.header-actions__item {
  padding: 12px 12px;
  background-color: #f6f6f6;
  border-radius: 8px;
}
@media (any-hover: hover) {
  .header-actions__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 1153.98px) {
  .icon-menu {
    width: 25px;
    display: block;
    border: none;
    outline: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25px;
            flex: 0 0 25px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after, .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #3C4242;
  }
  .icon-menu::before {
    top: 5px;
  }
  .icon-menu::after {
    bottom: 5px;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

.hero {
  display: grid;
  max-height: 720px;
  padding-top: 108px;
  width: 100%;
  position: relative;
}
.hero:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 467px) {
  .hero:not(:last-child) {
    margin-bottom: 30px;
  }
}
.hero__image {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}
@media (max-width: 767.98px) {
  .hero__image {
    -o-object-position: 75%;
       object-position: 75%;
  }
}
.hero__container {
  padding: 130px 15px;
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  justify-self: flex-start;
  width: 100%;
}
.hero__content {
  color: #FFFFFF;
  padding-left: 14%;
}
@media (any-hover: hover) {
  .hero__content:hover .hero__link {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2352941176);
            box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2352941176);
  }
}
.hero__label {
  font-family: "Core Sans C";
  font-size: 32px;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.18;
  letter-spacing: 0.16px;
}
.hero__label:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hero__label {
    font-size: 20px;
  }
}
.hero__title {
  font-family: "Core Sans C";
  font-weight: 800;
  font-size: 78px;
  color: #FFFFFF;
  line-height: 1.2;
  letter-spacing: 0.31px;
  max-width: 439px;
}
.hero__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__text {
  font-family: "Core Sans C";
  font-weight: 500;
  font-size: 32px;
  line-height: 1.47;
  letter-spacing: 0.31px;
  color: #FFFFFF;
}
.hero__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .hero__text {
    font-size: 20px;
  }
}
.hero__link {
  background-color: #FFFFFF;
  color: #3C4242;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  padding: 16px 72px;
  text-align: center;
  width: 255px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 767.98px) {
  .hero__link {
    font-size: 18px;
    padding: 10px 15px;
  }
}

.fashion {
  position: relative;
}
.fashion:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 467px) {
  .fashion:not(:last-child):not(:last-child) {
    margin-bottom: 50px;
  }
}
.fashion__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767.98px) {
  .fashion__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.fashion__image-left {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262745098);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262745098);
}
.fashion__content {
  position: absolute;
  top: 28%;
  left: 10%;
  max-width: 486px;
}
@media (max-width: 767.98px) {
  .fashion__content {
    top: 10%;
  }
}
@media (any-hover: hover) {
  .fashion__content :hover.fashion__link {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2352941176);
            box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.2352941176);
  }
}
.fashion__title {
  font-family: "Core Sans C";
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.47;
  letter-spacing: 0.208px;
}
.fashion__title:not(:last-child) {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .fashion__title {
    font-size: 22px;
  }
  .fashion__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 467px) {
  .fashion__title {
    font-size: 18px;
  }
}
.fashion__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.fashion__text:not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 767.98px) {
  .fashion__text {
    font-size: 16px;
  }
  .fashion__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.fashion__link {
  background-color: #FFFFFF;
  color: #3C4242;
  border-radius: 8px;
  padding: 12px 44px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  min-height: 46px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.fashion__image-right {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262745098);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.262745098);
}

.categories-men:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 467px) {
  .categories-men {
    margin-bottom: 20px;
  }
}

.men__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 467px) {
  .men__title {
    font-size: 28px;
  }
  .men__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 50px;
}
@media (max-width: 1242px) {
  .products {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .products {
    grid-template-columns: 1fr;
  }
}
@media (any-hover: hover) {
  .card :hover.card__image {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.card__image {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1137254902);
          box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1137254902);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card__image:not(:last-child) {
  margin-bottom: 15.5px;
}
.card__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 0 / 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .card__body :hover.card__link-arrow {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.card__link-title {
  color: #2A2F2F;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.142px;
}
.card__link-title:not(:last-child) {
  margin-bottom: 12px;
}
.card__text {
  color: #7F7F7F;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.142px;
}
.card__link-arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.women:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 467px) {
  .women:not(:last-child) {
    margin-bottom: 50px;
  }
}

.women__title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 467px) {
  .women__title {
    font-size: 22px;
  }
  .women__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.women__card-img {
  overflow: hidden;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1137254902);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1137254902);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.women__card-img:not(:last-child) {
  margin-bottom: 15.5px;
}
.women__card-img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 0 / 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.women__card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .women__card-body :hover .women__card-arrow {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.women__card-title {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #191919;
  letter-spacing: 0.142px;
}
.women__card-title:not(:last-child) {
  margin-bottom: 12px;
}
.women__card-text {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.142px;
  color: #7F7F7F;
}
.women__card-arrow {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.women-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 50px;
}
@media (any-hover: hover) {
  .women-cards :hover .women__card-img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 767.98px) {
  .women-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .women-cards {
    grid-template-columns: 1fr;
  }
}

.brands:not(:last-child) {
  margin-bottom: 77px;
}
.brands__container {
  background-color: #3C4242;
  padding: 44px 15px 60px 15px;
  border-radius: 12px;
  border: 1.07px solid #323232;
}
.brands__title {
  font-family: "Core Sans C";
  font-size: 50px;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 0.982;
  text-align: center;
}
.brands__title:not(:last-child) {
  margin-bottom: 26px;
}
@media (max-width: 467px) {
  .brands__title {
    font-size: 30px;
  }
}
.brands__text {
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.2;
}
.brands__text span {
  color: #fbd103;
}
.brands__text:not(:last-child) {
  margin-bottom: 67px;
}
@media (max-width: 467px) {
  .brands__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.brands__zone {
  max-width: 986px;
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
  gap: 24.6px;
  justify-items: center;
}
@media (max-width: 767.98px) {
  .brands__zone {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .brands__zone {
    grid-template-columns: 1fr;
  }
}
.brands__link {
  background-color: #FFFFFF;
  border-radius: 12px;
  width: 177px;
  min-height: 85px;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .brands__link:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.brands__image-nike {
  padding: 18px 12px 14px 16px;
  aspect-ratio: 149/53;
}
.brands__image-hm {
  aspect-ratio: 121/68;
  padding: 8px 27px;
}
.brands__image-levis {
  aspect-ratio: 111/55;
  padding: 17px 32px 12px 34px;
}
.brands__image-polo {
  aspect-ratio: 148/49;
  padding: 17px 15px 19px 14px;
}
.brands__image-puma {
  aspect-ratio: 112/56;
  padding: 12px 31px 16px 34px;
}
.brands__image-nike, .brands__image-levis, .brands__image-polo, .brands__image-puma {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 467px) {
  .brands {
    -o-object-position: 85%;
       object-position: 85%;
  }
}

.limit:not(:last-child) {
  margin-bottom: 100px;
}
.limit__title {
  line-height: 1.2;
  color: #3C4242;
  font-weight: 600;
}
.limit__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 36px;
}
@media (max-width: 767.98px) {
  .limit__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .limit__cards {
    grid-template-columns: 1fr;
  }
}
.limit__card {
  position: relative;
}
.limit__link-image {
  display: block;
}
@media (any-hover: hover) {
  .limit__link-image:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.limit__link-image:not(:last-child) {
  margin-bottom: 30px;
}
.limit__link-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 0 / 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 12px;
  -webkit-box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
          box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.limit__favorite {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff url(../img/favorite.svg) center/32px no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .limit__favorite:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.limit__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.limit__content {
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 10px;
}
@media (any-hover: hover) {
  .limit__title-link:hover {
    text-decoration: underline;
  }
}
.limit__text {
  color: #807D7E;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}
.limit__price {
  background-color: #F6F6F6;
  border-radius: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  padding: 10px 19px;
  min-height: 36px;
}

.limit-title:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 467px) {
  .limit-title {
    font-size: 28px;
  }
  .limit-title:not(:last-child) {
    margin-bottom: 30px;
  }
}

.feedback {
  margin-bottom: 70px;
}
.feedback__title:not(:last-child) {
  margin-bottom: 70px;
}
.feedback__link {
  text-align: center;
}
.coment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 23px;
}
.coment:not(:last-child) {
  margin-bottom: 13px;
}
@media (max-width: 767.98px) {
  .coment {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .coment {
    grid-template-columns: 1fr;
  }
}
.coment__client {
  border: 1.8px solid #bebcbd;
  border-radius: 10px;
  padding: 24px;
}
.coment__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.coment__link:not(:last-child) {
  margin-bottom: 20px;
}
.coment__image {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 58/58;
  width: 58px;
  -webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.3450980392);
          box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.3450980392);
}
.coment__image-rating {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23px;
          flex: 0 0 23px;
}
.coment__title {
  font-family: "Core Sans C";
  font-size: 22px;
  font-weight: 500;
  line-height: 0.98;
  letter-spacing: 0.0925px;
  color: #3C4242;
}
.coment__title:not(:last-child) {
  margin-bottom: 20px;
}
.coment__text {
  font-size: 14px;
  line-height: 1.2;
  color: #807d7e;
}

.footer {
  background-color: #3C4242;
}
.footer__container {
  margin: 0 auto;
  max-width: 1250px;
  padding: 0 15px;
}
.footer__contacts {
  display: grid;
  gap: 15px;
  grid-template-columns: 0.2fr 0.2fr 0.23fr 0.39fr;
  padding-top: 6%;
  padding-left: 7%;
}
.footer__contacts:not(:last-child) {
  margin-bottom: 77px;
}
@media (max-width: 767.98px) {
  .footer__contacts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 467px) {
  .footer__contacts {
    grid-template-columns: 1fr;
  }
}
.footer__info {
  color: #F6F6F6;
  font-weight: 700;
  line-height: 2.21;
}
.footer__title {
  font-size: 28px;
}
.footer__list {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.16;
}
.footer__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .footer__item:hover.footer__item a {
    text-decoration: underline;
  }
}

.social-line {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-left: 7%;
}
@media (max-width: 476px) {
  .social-line {
    grid-template-columns: 1fr;
  }
}
.social-line__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .social-line__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.social-line__title {
  font-size: 28px;
  color: #F6F6F6;
  line-height: 2.21;
}
.social-line__title:not(:last-child) {
  margin-bottom: 19px;
}
.apps__link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .apps__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}