
@import url("fonts.css");

@import url("reset.css");

body{
   font-family: "Inter",sans-serif;
   font-size: 18px;
   color: #7d7d7d;
}
.general-title {
   font-size: 30px;
   text-align: center;
   padding: 50px 15px;
   color: rgba(51, 67, 214, 0.61);
   max-width: 722px;
   margin: 0 auto;
}
.block {
   padding: 0px 15px 50px;
   max-width: 722px;
   margin: 0 auto;
}
.consulting{
   margin-bottom: 37px;
}
.consulting
.image-benefits {
   max-width: 100%;
}
.general-title
.title 
.sub-title 
.title-benefits 
.sub-title-benefits{
   font-family: "Poppins", sans-serif;
}

.title {
   font-size: 30px;
   color: #37393f;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 12.5px;
}
.text {
   line-height: 1.46;
   margin-bottom: 42px;
}
.text p{
   margin-bottom: 15px;
}
.sub-title {
   font-size: 20px;
   color: #6b77e5;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 12px;
}

.benefits {
   font-size: 0px;
   margin-bottom: 48px;
}
.image-benefits {
   width: 331px;
   margin-right: 29px;
}
.text-benefits {
   display: inline-block;
   width: 332px;
   font-size: 18px;
}
.title-benefits {
   font-size: 25px;
   color: #37393f;
   line-height: 1.27;
   font-weight: 600;
   margin-bottom: 15px;
}
.sub-title-benefits {
   font-size: 20px;
   color: #40ddb7;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 23.5px;
}
.list-benefits li {
line-height: 1.22;
margin-bottom: 35px;
}
   
.block-jewels {
   font-size: 0px;
   width:  1199px;
   margin: 0 auto;
   padding: 0px 15px 50px;
   margin-bottom: 40px;
   
}
.sub-title-jewels {
font-size: 28px;
color: #d16b00;
line-height: 1.21;
margin-bottom: 13px;

}
.title-jewels {
   font-family: "DM Serif Text",sans-serif;
   font-size: 59px;
   color: #0e333d;
   line-height: 1.46;
   margin-bottom: 25px;
}
.text-jewels {
   display: inline-block;
   width: 563px;
   font-size: 20px;
   color: #474747;
   line-height: 1.80;
   
}
.text-jewels p {
margin-bottom: 15px;
}
.jewels
.earings{
   max-width: 100%;
}
.jewels {
   margin-left: 38px;
   width: 273px;
}
.earings {
   margin-left: 22px;
   width: 273px;
}

.training {
   padding: 0px 15px 50px;
   max-width: 1000px;
   margin: 0 auto;
   margin-bottom: 50px;
}
.image-cat {
   max-width: 100%;
   width: 400px;
   margin-right: 30px;
}
.text-training {
   display: inline-block;
   max-width: 500px;
   max-height: 300px;
   line-height: 1.4;
   color: #d16b00;
   overflow: auto;
}

.link {
   /*використала display:block для тренування матеріалу*/
   display: block;
   padding: 0px 15px 50px;
   max-width: 1000px;
   margin: 0 auto;
   font-family: "DM Serif Text",sans-serif ;
   font-size: 20px;
   text-align: center;
   color: #0e333d;
}