
@import url("fonts.css");

@import url("reset.css");

body{
   font-family: "Inter",sans-serif;
   font-size: 18px;
   background-color: darkgrey;
   font-weight: 600;
   
}

.homework {
font-size: 50px;
text-align: center;
padding: 50px 0 0 0;
margin-bottom: 40px;
color: #6B77E5;
text-decoration: underline;
}
.block-image {
   padding: 0 15px;
   margin-bottom: 100px;
}
.block-image p{
   margin-bottom: 20px;
}
.block-image p:last-of-type{
   margin-bottom: 0px;
}
img{
   max-width: 500px;
   margin-right: 10px; 
   vertical-align: middle;
}
.link{
   text-align: center;
   display: block;
   font-size: 40px;
   color: #6B77E5;
   text-decoration: overline;
}
