//Змінні 
$whiteColor:#FFFFFF;
$grColor:#3C4242;
$fotterCollor:#F6F6F6;
$gr-2Collor:#7F7F7F;
$decoColor:#8A33FD;
$litegrColor:#807D7E;
$heroFont: "Core Sans C";
$categColor:#2A2F2F;
$mainFont:"Causten";
$mainSize:22px;
$mainFontWeight:600;
//змінні на адаптив
$bigAdaptive:1242px;
$big-2Adaptive:1153.98px;
$middleAdaptive:767.98px;
$smoleAdaptive:467px;
$smole-2Adaptive:371px;


@mixin button ($brRadius: 8px, $bgColor: #FFFFFF, $btColor: #3C4242){
   background-color:$bgColor;
   color: $btColor;
   border-radius: $brRadius;
}

@mixin img($width: 0, $height: 0, $objectPosition: center, $obFit: cover) {
   width: 100%;
   height:100%;
   aspect-ratio: $width #{'/'} $height;
   object-fit: $obFit;
   object-position: $objectPosition;
}




//Шаблони
%header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}
%common-container{
   max-width: 1270px;
   margin: 0 auto;
   padding: 0px 15px;
}
%common-title{
   font-family: "Core Sans C";
font-size: 34px;
font-weight: 600;
line-height: 0.98px;
letter-spacing: 0.68px;
color: $grColor;
&::before{
   content: "";
   width: 6px;
   height: 30px;
   border-radius: 10px;
   background-color: $decoColor;
   display: inline-block;
   margin-right: 20px;
}
}




