

@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");

@font-face{
   font-family: "Causten";
   src:
   url("../fonts/Causten-Light.woff2") format("woff2"),
   url("../fonts/Causten-Light.woff") format("woff");
   font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face{
   font-family: "Causten";
   src:
   url("../fonts/Causten-Regular.woff2") format("woff2"),
   url("../fonts/Causten-Regular.woff") format("woff");
   font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face{
   font-family: "Causten";
   src:
   url("../fonts/Causten-Medium.woff2") format("woff2"),
   url("../fonts/Causten-Medium.woff") format("woff");
   font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "Causten";
   src:
   url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
   url("../fonts/Causten-Semi-Bold.woff") format("woff");
   font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "Causten";
   src:
   url("../fonts/Causten-Bold.woff2") format("woff2"),
   url("../fonts/Causten-Bold.woff") format("woff");
   font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "CoreSansC";
   src:
   url("../fonts/CoreSansC-45Regular.woff2") format("woff2"),
   url("../fonts/CoreSansC-45Regular.woff") format("woff");
   font-weight:400;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "CoreSansC";
   src:
   url("../fonts/CoreSansC-55Medium.woff2") format("woff2"),
   url("../fonts/CoreSansC-55Medium.woff") format("woff");
   font-weight:500;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "CoreSansC";
   src:
   url("../fonts/Fontspring-DEMO-coresansc65.woff2") format("woff2"),
   url("../fonts/Fontspring-DEMO-coresansc65.woff") format("woff");
   font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face{
   font-family: "CoreSansC";
   src:
   url("../fonts/CoreSansC-75ExtraBold.woff") format("woff2"),
   url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff");
   font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face{
   font-family: "CoreSansC";
   src:
   url("../fonts/CoreSansC-85HeavyIt.woff2") format("woff2"),
   url("../fonts/CoreSansC-85HeavyIt.woff") format("woff");
   font-weight: 800;
	font-style: normal;
	font-display: swap;
}
