//Обнулення
@import "_reset.scss";
//Шрифти
@import "_fonts.scss";
//Компоненти
@import "_common.scss";

.menu-open body {
   overflow: hidden;
}

.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.wrapper > main {
   flex-grow: 1;
}
body > * {
   font-family: $mainFont;
}
//==================Header============

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background-color: #ffffff;
   border-bottom: 1px solid #bebcbd;
		// .header__container

		&__container {
         @extend%common-container;
         padding: 10px 0;
         min-height: 108px;
         display: flex;
         gap: 10px;
         align-items: center;
         justify-content: space-between;
         position: relative;
        

		}

		// .header__logo

		&__logo {
         position: relative;
         z-index: 5;
		}

		// .header__search

		&__search {
         position: relative;
         margin-right: 76px;
		}

		// .header__input

		&__input {
         background-color: #f6f6f6;
         border: none;
         border-radius: 8px;
         padding: 12px 20px 12px 52px;
         font-family: $mainFont;
         color: #807d7e;
         font-size: 16px;
		}

		// .header__button

		&__button {
         position: absolute;
         top: 12px;
         left: 15px;
         width: 20px;
         height: 20px;
         background: none;
         border: none;
		}

		// .header__actions

		&__actions {
         flex-shrink: 0;
		}
}
.menu {

		// .menu__body

		&__body {
         transition: all 0.3s;
         @media(max-width:$big-2Adaptive){
            position: fixed;
            overflow: auto;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            background-color: rgba(51, 115, 253, 0.603);
            padding: 80px 15px 30px 15px;
            color: #000;
            transition: left 0.3s;
            &::before {
               content: "";
               position: fixed;
               top: 0;
               left: -100%;
               height: 50px;
               width: 100%;
               z-index: 2;
               transition: left 0.3s;
               background-color: rgba(51, 115, 253, 0.603);;
               color: #000;
         }
         .menu-open &,
         .menu-open &::before {
            left: 0;
         }
      }
		}

		// .menu__list

		&__list {
         display: flex;
flex-wrap: wrap;
justify-content: space-between;
column-gap: 40px;
row-gap: 10px;
@media(max-width:$big-2Adaptive){
   flex-direction: column;
   text-align: right;
   row-gap: 28px;
}
		}

		// .menu__item

		&__item {
		}

		// .menu__item--bold

		&__item--bold {
         font-weight: 700;
      color: $grColor;
		}

		// .menu__link

		&__link {
         font-size: $mainSize;
         line-height: 1.2;
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
               color: #433f3f;
            }
         }
         @media(max-width:$big-2Adaptive){
            font-size: 28px;
            .menu__list &{
               display: block;
            }
            .menu__list &::after {
               display: none;
            }
         }
		}
}
.header-actions {
display: flex;
justify-content: space-between;
gap: 12px;
z-index: 5;
@media(max-width:$smole-2Adaptive){
   gap: 5px;
}
		// .header-actions__item

		&__item {
         padding: 12px 12px;
         background-color: #f6f6f6;
         border-radius: 8px;
         @media(any-hover:hover){
            &:hover{
               transform: scale(1.1);
            }
         }
		}
}
.icon-menu {
   display: none;
   @media(max-width:$big-2Adaptive){
      width: 25px;
      display: block;
      border: none;
      outline: none;
      flex: 0 0 25px;
      position: relative;
      z-index: 5;
      &::before,
      &::after,
      & span {
         content: "";
         height: 2px;
         width: 100%;
         position: absolute;
         left: 0;
         transition: all 0.3s;
         background-color: $grColor;
      }
      &::before {
         top: 5px;
      }
      &::after {
         bottom: 5px;
      }
      & span {
         top: 50%;
         margin-top: -1px;
      }
      .menu-open & span {
         transform: scale(0);
      }
      .menu-open &::before {
         transform: rotate(-45deg);
         top: 50%;
         margin-top: -1px;
      }
      .menu-open &::after {
         transform: rotate(45deg);
         bottom: 50%;
         margin-bottom: -1px;
      }
   }
}

//====================Hero=====================
.page {
}
.hero {
   display: grid;
   max-height: 720px;
   padding-top: 108px;
   width: 100%;
   position: relative;
   &:not(:last-child) {
      margin-bottom: 130px;
   }
   @media (max-width: $smoleAdaptive) {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   // .hero__image

   &__image {
      grid-row: 1;
      grid-column: 1;
      width: 100%;
      height: 100%;
      display: block;
      object-position: top;
      object-fit: cover;
      min-height: 100%;

      @media (max-width: $middleAdaptive) {
         object-position: 75%;
      }
   }

   // .hero__container

   &__container {
      padding: 130px 15px;
      align-self: center;
      grid-column: 1;
      grid-row: 1;
      justify-self: flex-start;
      width: 100%;
   }

   // .hero__content

   &__content {
      color: $whiteColor;
      padding-left: 14%;
      @media (any-hover: hover) {
         &:hover .hero__link {
            border-radius: 20px;
            box-shadow: inset 0 0 20px 1px #0000003c;
         }
      }
   }
 
   // .hero__label

   &__label {
      font-family: $heroFont;
      font-size: 32px;
      font-weight: 500;
      color: $whiteColor;
      line-height: 1.18;
      letter-spacing: 0.16px;
      &:not(:last-child) {
         margin-bottom: 40px;
      }
      @media (max-width: $middleAdaptive) {
         font-size: 20px;
      }
   }

   // .hero__title

   &__title {
      font-family: $heroFont;
      font-weight: 800;
      font-size: 78px;
      color: $whiteColor;
      line-height: 1.2;
      letter-spacing: 0.31px;
      max-width: 439px;
      &:not(:last-child) {
         margin-bottom: 40px;
      }
      @media (max-width: $middleAdaptive) {
         font-size: 30px;
      }
   }

   // .hero__text

   &__text {
      font-family: $heroFont;
      font-weight: 500;
      font-size: 32px;
      line-height: 1.47;
      letter-spacing: 0.31px;
      color: $whiteColor;
      &:not(:last-child) {
         margin-bottom: 40px;
      }
      @media (max-width: $middleAdaptive) {
         font-size: 20px;
      }
   }

   // .hero__link

   &__link {
      @include button;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2;
      padding: 16px 72px;
      text-align: center;
      width: 255px;
      transition: all 0.2s;
      @media (max-width: $middleAdaptive) {
         font-size: 18px;
         padding: 10px 15px;
      }
   }
}

//=====================Fashion===================================
.fashion {
   position: relative;
   &:not(:last-child) {
      margin-bottom: 100px;
      @media (max-width: $smoleAdaptive) {
         &:not(:last-child) {
            margin-bottom: 50px;
         }
      }
   }

   // .fashion__container

   &__container {
      @extend %common-container;
      display: flex;
      @media (max-width: $middleAdaptive) {
         flex-direction: column;
      }
   }

   // .fashion__image-left

   &__image-left {
      object-fit: cover;
      aspect-ratio: 1/1;
      width: 100%;
      display: block;
      overflow: hidden;
      box-shadow: 2px 2px 2px #00000043;
   }

   // .fashion__content

   &__content {
      position: absolute;
      top: 28%;
      left: 10%;
      max-width: 486px;
      @media (max-width: $middleAdaptive) {
         top: 10%;
      }

      @media (any-hover: hover) {
         :hover.fashion__link {
            border-radius: 20px;
            box-shadow: inset 0 0 20px 1px #0000003c;
         }
      }
   }
   // .fashion__title

   &__title {
      font-family: $heroFont;
      color: $whiteColor;
      font-size: 34px;
      font-weight: 800;
      line-height: 1.47;
      letter-spacing: 0.208px;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      @media (max-width: $middleAdaptive) {
         font-size: 22px;
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
      @media (max-width: $smoleAdaptive) {
         font-size: 18px;
      }
   }
   // .fashion__text

   &__text {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: 1px;
      color: $whiteColor;
      &:not(:last-child) {
         margin-bottom: 50px;
      }
      @media (max-width: $middleAdaptive) {
         font-size: 16px;
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
   // .fashion__link

   &__link {
      @include button;
      padding: 12px 44px;
      font-weight: $mainFontWeight;
      text-align: center;
      font-size: 18px;
      line-height: 1.2;
      min-height: 46px;
      transition: all 0.3s;
   }
   // .fashion__image-right

   &__image-right {
      object-fit: cover;
      aspect-ratio: 1/1;
      width: 100%;
      overflow: hidden;
      display: block;
      box-shadow: 2px 2px 2px #00000043;
   }
}

//=============Categories-men========
.categories-men {
   &:not(:last-child) {
      margin-bottom: 100px;
   }
   @media (max-width: $smoleAdaptive) {
      margin-bottom: 20px;
   }
}
.men {
   // .men__container

   &__container {
      @extend %common-container;
   }
   // .men__title
   &__title {
      @extend %common-title;
      &:not(:last-child) {
         margin-bottom: 70px;
      }
      @media (max-width: $smoleAdaptive) {
         font-size: 28px;
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }
   // .men__products
   &__products {
   }
}
.products {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
   gap: 50px;
   @media (max-width: $bigAdaptive) {
      gap: 20px;
   }
   @media (max-width: $middleAdaptive) {
      grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: $smoleAdaptive) {
      grid-template-columns: auto;
   }
   // .products__card

   &__card {
   }
}
.card {
   @media (any-hover: hover) {
      :hover.card__image {
         transform: scale(1.1);
      }
   }
   // .card__image
   &__image {
      border-radius: 10px;
      overflow: hidden;
      display: block;
      box-shadow: 0px 3px 2px #0000001d;
      transition: transform 0.3s;
      &:not(:last-child) {
         margin-bottom: 15.5px;
      }
   }
   &__image img {
      @include img;
   }
   // .card__body

   &__body {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
      @media (any-hover: hover) {
         :hover.card__link-arrow {
            transform: scale(1.1);
         }
      }
   }
   // .card__content

   &__content {
   }
   // .card__title

   &__title {
   }
   // .card__link-title

   &__link-title {
      color: $categColor;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.142px;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   // .card__text

   &__text {
      color: $gr-2Collor;
      font-size: 14px;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.142px;
   }
   // .card__link-arrow

   &__link-arrow {
      transition: transform 0.3s;
   }
}
//================Women========
.women {
   &:not(:last-child) {
      margin-bottom: 100px;
   }
   @media (max-width: $smoleAdaptive) {
      &:not(:last-child) {
         margin-bottom: 50px;
      }
   }
}
.women {
   // .women__container

   &__container {
      @extend %common-container;
   }
   // .women__title
   &__title {
      @extend %common-title;
      &:not(:last-child) {
         margin-bottom: 70px;
      }
      @media (max-width: $smoleAdaptive) {
         font-size: 22px;
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
   }
   // .women__card
   &__card {
   }
   // .women__card-img

   &__card-img {
      overflow: hidden;
      display: block;
      border-radius: 10px;
      box-shadow: 0px 5px 5px #0000001d;
      transition: transform 0.3s;
      &:not(:last-child) {
         margin-bottom: 15.5px;
      }
   }
   &__card-img img {
      @include img;
   }

   // .women__card-body

   &__card-body {
      display: flex;
      gap: 15px;
      justify-content: space-between;
      align-items: center;
      @media (any-hover: hover) {
         :hover .women__card-arrow {
            transform: scale(1.1);
         }
      }
   }

   // .women__card-content
   &__card-content {
   }
   // .women__card-title

   &__card-title {
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5;
      color: #191919;
      letter-spacing: 0.142px;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   // .women__card-text

   &__card-text {
      font-family: "Poppins";
      font-size: 13px;
      font-weight: 500;
      line-height: 2;
      letter-spacing: 0.142px;
      color: $gr-2Collor;
   }

   // .women__card-arrow

   &__card-arrow {
      transition: transform 0.3s;
   }
}
.women-cards {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
   gap: 50px;
   @media (any-hover: hover) {
      :hover .women__card-img {
         transform: scale(1.1);
      }
   }
   @media (max-width: $middleAdaptive) {
      grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: $smoleAdaptive) {
      grid-template-columns: auto;
   }
}
//=============Brands======================
.brands {
   &:not(:last-child) {
      margin-bottom: 77px;
   }
   // .brands__container

   &__container {
      @extend%common-container;
      background-color: $grColor;
      padding: 44px 15px 60px 15px;
      border-radius: 12px;
      border: 1.07px solid #323232;
   }

   // .brands__title

   &__title {
      font-family: $heroFont;
      font-size: 50px;
      font-weight: 800;
      color: $whiteColor;
      line-height: 0.982;
      text-align: center;
      &:not(:last-child) {
         margin-bottom: 26px;
      }
      @media (max-width: $smoleAdaptive) {
         font-size: 30px;
      }
   }

   // .brands__text

   &__text {
      text-align: center;
      color: $whiteColor;
      font-size: 22px;
      line-height: 1.2;
      & span {
         color: #fbd103;
      }
      &:not(:last-child) {
         margin-bottom: 67px;
      }
      @media (max-width: $smoleAdaptive) {
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }
   }

   // .brands__zone

   &__zone {
      max-width: 986px;
      margin: 0 auto;
      max-width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
      gap: 24.6px;
      justify-items: center;
      @media (max-width: $middleAdaptive) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $smoleAdaptive) {
         grid-template-columns: auto;
      }
   }

   // .brands__link

   &__link {
      background-color: $whiteColor;
      border-radius: 12px;
      width: 177px;
      min-height: 85px;
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;

      @media (any-hover: hover) {
         &:hover img {
            transform: scale(1.1);
         }
      }
   }

   // .brands__image

   &__image-nike {
      padding: 18px 12px 14px 16px;
      aspect-ratio: 149/53;
   }
   &__image-hm {
      aspect-ratio: 121/68;
      padding: 8px 27px;
   }
   &__image-levis {
      aspect-ratio: 111/55;
      padding: 17px 32px 12px 34px;
   }
   &__image-polo {
      aspect-ratio: 148/49;
      padding: 17px 15px 19px 14px;
   }
   &__image-puma {
      aspect-ratio: 112/56;
      padding: 12px 31px 16px 34px;
   }
   &__image-nike,
   &__image-levis,
   &__image-polo,
   &__image-puma {
      object-fit: contain;
      transition: transform 0.3s;
   }
   @media (max-width: $smoleAdaptive) {
      object-position: 85%;
   }
}
//==================Limit====================
.limit {
   &:not(:last-child) {
      margin-bottom: 100px;
   }

   // .limit__container

   &__container {
      @extend %common-container;
   }

   // .limit__title

   &__title {
      line-height: 1.2;
      color: $grColor;
      font-weight: $mainFontWeight;
   }

   // .limit__cards

   &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
      gap: 36px;
      @media (max-width: $middleAdaptive) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $smoleAdaptive) {
         grid-template-columns: auto;
      }
   }

   // .limit__card

   &__card {
      position: relative;
   }

   // .limit__link-image

   &__link-image {
      display: block;
      @media (any-hover: hover) {
         &:hover img {
            transform: scale(1.1);
         }
      }
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
   &__link-image img {
      @include img;
      border-radius: 12px;
      box-shadow: 0px 5px 3px rgba(7, 7, 7, 0.177);
      transition: transform 0.3s;
   }

   // .limit__favorite

   &__favorite {
      position: absolute;
      top: 26px;
      right: 20px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #ffffff url(../img/favorite.svg) center/ 32px no-repeat;
      transition: transform 0.3s;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
         }
      }
   }

   // .limit__body

   &__body {
      display: flex;
      align-items: center;
   }

   // .limit__content

   &__content {
      display: grid;
      flex-grow: 1;
      gap: 10px;
   }

   // .limit__title-link

   &__title-link {
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .limit__text

   &__text {
      color: $litegrColor;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
   }

   // .limit__price

   &__price {
      background-color: $fotterCollor;
      border-radius: 12px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      padding: 10px 19px;
      min-height: 36px;
   }
}
.limit-title {
   @extend%common-title;
   &:not(:last-child) {
      margin-bottom: 70px;
   }
   @media (max-width: $smoleAdaptive) {
      font-size: 28px;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }
}
//=================Fidback===============
.feedback {
   margin-bottom: 70px;
   // .feedback__container

   &__container {
      @extend %common-container;
   }

   // .feedback__title

   &__title {
      @extend%common-title;
      &:not(:last-child) {
         margin-bottom: 70px;
      }
   }
   &__link {
      text-align: center;
   }
   // .feedback__control

   &__control {
   }
}
.coment {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   gap: 23px;
   &:not(:last-child) {
      margin-bottom: 13px;
   }
   @media (max-width: $middleAdaptive) {
      grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: $smoleAdaptive) {
      grid-template-columns: auto;
   }

   &__client {
      border: 1.8px solid #bebcbd;
      border-radius: 10px;
      padding: 24px;
   }
   // .coment__body

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
   }
   &__link {
      display: block;
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   // .coment__image

   &__image {
      object-fit: contain;
      aspect-ratio: 58 / 58;
      width: 58px;
      box-shadow: 0px 3px 3px #32323258;
   }

   // .coment__image-rating

   &__image-rating {
      flex: 0 0 23px;
   }

   // .coment__title

   &__title {
      font-family: $heroFont;
      font-size: $mainSize;
      font-weight: 500;
      line-height: 0.98;
      letter-spacing: 0.0925px;
      color: $grColor;
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }

   // .coment__text

   &__text {
      font-size: 14px;
      line-height: 1.2;
      color: #807d7e;
   }
}
//================Footer=================
.footer {
   background-color: $grColor;
   // .footer__container

   &__container {
      margin: 0 auto;
      max-width: 1250px;
      padding: 0 15px;
   }

   // .footer__contacts

   &__contacts {
      display: grid;
      gap: 15px;
      grid-template-columns: 0.2fr 0.2fr 0.23fr 0.39fr;
      padding-top: 6%;
      padding-left: 7%;
      &:not(:last-child) {
         margin-bottom: 77px;
      }
      @media (max-width: $middleAdaptive) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $smoleAdaptive) {
         grid-template-columns: auto;
      }
   }

   // .footer__info

   &__info {
      color: $fotterCollor;
      font-weight: 700;
      line-height: 2.21;
   }

   // .footer__title

   &__title {
      font-size: 28px;
   }

   // .footer__list

   &__list {
      font-weight: 500;
      font-size: 18px;
      line-height: 2.16;
   }

   // .footer__item

   &__item {
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover.footer__item a {
            text-decoration: underline;
         }
      }
   }
}
.social-line {
   display: grid;
   grid-template-columns: 0.6fr 0.4fr;
   align-items: end;
   padding-left: 7%;
   @media (max-width: $smoleAdaptive) {
      grid-template-columns: auto;
   }

   // .social-line__items

   &__items {
   }

   // .social-line__link

   &__link {
      transition: transform 0.3s;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
         }
      }
   }

   // .social-line__app

   &__app {
   }

   // .social-line__title

   &__title {
      font-size: 28px;
      color: $fotterCollor;
      line-height: 2.21;
      &:not(:last-child) {
         margin-bottom: 19px;
      }
   }

   // .social-line__app-items

   &__app-items {
   }
}
.apps {
   // .apps__link

   &__link {
      transition: transform 0.3s;
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
         }
      }
   }
}
