
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,600,700&display=swap");

@import url("fonts.css");

@import url("reset.css");

body{
   font-family: "Inter",sans-serif;
   font-size: 18px;
   color: #7d7d7d;
   font-weight: 400;
}
.header, 
.block {
   font-family: "DejaVuSans",sans-serif;
   font-weight: 100;
   font-size: 18px;
   color: #4e139296;
   text-align: center;
   font-style: oblique;
   line-height: 1.27;
}
.block1{
font-family:"BanderaPro", sans-serif ;
font-weight: 500;
color: #5dd4a6;
font-size: 15px;
text-align: center;
text-transform:capitalize;
letter-spacing: 2px;
line-height: 1.27;
}
.title {
   font-family: "DejaVuSans", sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: rgba(60, 60, 158, 0.712);
   text-align: center;
   text-decoration: underline;
   text-shadow: 2px 2px 5px #1c3fb3,5px -2px 8px #3c3d4179;
   text-transform: uppercase;
   line-height: 1.40;
}
.block2{
   font-family:"BanderaPro", sans-serif;
   font-style: italic;
   font-size: 20px;
   text-align: center;
   text-decoration: line-through #1cb3abc0;
   line-height: 1.27;
}
.block-text, 
.consulting {
text-align: left;
line-height: 1.46;
}
.sub-title {
   font-family: "Poppins",sans-serif;
   font-size: 30px;
   font-weight: 600;
   color: #37393f;
   text-align: left;
   text-transform: capitalize;
   line-height: 1.27;

}
.sub-title2 {
   font-family: "Poppins",sans-serif;
   font-size: 20px;
   color: #6b77e5;
   text-align: left;
   line-height: 1.27;
}
.text{
   line-height: 1.46;
   text-align: left;

}
.project {
   font-family: "Poppins",sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: #37393f;
   line-height: 1.27;
   text-align: left;
}
.list {
   font-weight: 500;
   text-align: left;
   line-height: 1.46;
}
.numbered-list {
font-weight: 500;
text-align: left;
line-height: 1.46;
}
.text1{
   line-height: 1.46;
   text-align: left;
}
.link {
   font-family:"BanderaPro", sans-serif;
   font-weight: 700;
   font-size: 20px;
   color: rgba(216, 16, 16, 0.719);
   line-height: 1.27;
}