@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

//Шрифти
@import "_fonts.scss";
//Обнулення
@import "_reset.scss";
//Компоненти
@import "_common.scss";
//Функції
@import "_functions.scss";

.menu-open body {
   overflow: hidden;
}
body {
   font-family: "Inter", sans-serif;
   font-size: 18px;
   color: $heroColor;
}

.wrapper {
   overflow: clip;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.wrapper > main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: #{$containerWidth}px;
   margin: 0 auto;
   padding-left: toRem(15);
   padding-right: toRem(15);
}

body {
   font-size: toRem(18);
   color: $heroColor;
}
//==================Header============
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background-color: $whiteColor;
   // .header__container

   &__container {
      display: flex;
      min-height: toRem(65);
      gap: toRem(40);
      align-items: center;
      padding-top: toRem(5);
      padding-bottom: toRem(5);
      @include adaptiveValue("column-gap", 40, 30, 0, 1200, 1149.98);
   }

   // .header__logo

   &__logo {
      position: relative;
      z-index: 5;
      & img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
   // .header__button
   &__button {
   }
}
.menu {
   flex: 1 1 auto;
   // .menu__nav

   &__nav {
      @media (max-width: toEm(979.98)) {
         position: fixed;
         width: 100%;
         height: 100%;
         overflow: auto;
         top: 0;
         left: -100%;
         padding: toRem(80) toRem(15) toRem(30);
         background-color: rgba(9, 100, 70, 0.927);
         transition: left 0.3s;
         &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: toRem(50);
            top: 0;
            left: 100%;
            z-index: 2;
            transition: left 0.3s;
            background-color: rgba(9, 100, 70, 0.932);
         }
         .menu-open &,
         .menu-open &::before {
            left: 0;
         }
      }
   }

   // .menu__list

   &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @include adaptiveValue("column-gap", 40, 20, 0, 1250, 1200);
      @include adaptiveValue("row-gap", 10, 25, 0, 1250, 1023.98);
      @include adaptiveValue("font-size", 18, 16, 0, 1250, 1229.98);
      @media (max-width: toEm(979.98)) {
         flex-direction: column;
         text-align: right;
         row-gap: toRem(28);
      }
   }

   // .menu__item

   &__item {
      transition: backgraund-color 0.3s;
      @media (any-hover: hover) {
         &:hover .menu__link {
            color: $buttonColor;
         }
      }
   }

   // .menu__link

   &__link {
      color: $hederColor;
      line-height: 1.21;
      @media (max-width: toEm(979.98)) {
         font-size: toRem(28);
         color: $whiteColor;
      }
   }

   // .menu__item--sub

   &__item--sub {
      position: relative;
      & .menu__link {
         display: flex;
         align-items: center;
         gap: toRem(10);
      }
      & .menu__link::after {
         content: "";
         background: url(../img/vector.svg) 0 0 no-repeat;
         flex: 0 0 toRem(16);
         height: toRem(8);
         width: toRem(16);
         transition: transform 0.3s;
      }
      @media (any-hover: hover) {
         &:hover .sub-menu {
            visibility: visible;
            opacity: 1;
            transform: translate(toRem(0), toRem(0));
            pointer-events: all;
         }
         &:hover .menu__link::after {
            transform: rotate(-180deg);
         }
      }
      @media (max-width: toEm(979.98)) {
         & .menu__link {
            display: block;
         }
         & .menu__link::after {
            display: none;
         }
      }
   }
}
.sub-menu {
   transition: all 0.3s;
   position: absolute;
   top: 100%;
   left: 0;
   padding-top: toRem(5);
   transform: translate(0, 10%);
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   @media (max-width: toEm(979.98)) {
      position: relative;
      visibility: visible;
      opacity: 1;
      padding-top: toRem(10);
      transform: translate(toRem(0), toRem(0));
   }
   // .sub-menu__list

   &__list {
      width: toRem(150);
      border-radius: toRem(15);
      padding: toRem(15);
      background-color: $greenColor;
      box-shadow: 0 0 5px 3px rgba(12, 12, 12, 0.506);
      @media (max-width: toEm(990)) {
         width: 100%;
         border-radius: 0;
      }
   }

   // .sub-menu__item

   &__item {
      transition: all 0.3s;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
      @media (any-hover: hover) {
         &:hover .sub-menu__link {
            text-decoration: underline;
         }
      }
      @media (max-width: toEm(979.98)) {
         &:not(:last-child) {
            margin-bottom: toRem(20);
         }
      }
   }

   // .sub-menu__link

   &__link {
   }
}
.button-actions {
   flex-shrink: 0;
   display: flex;
   column-gap: toRem(20);
   justify-self: flex-end;
   transition: all 0.3s;
   @media (any-hover: hover) {
      &:hover .button-actions__consulting {
         color: $buttonColor;
         background-color: $greenColor;
      }
   }
   // .button-actions__consulting

   &__consulting {
      background-color: $buttonColor;
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      text-align: center;
      line-height: 1.215;
      color: $whiteColor;
      min-height: toRem(65);
      padding: toRem(21) toRem(35) toRem(22);
      border: none;
      @media (max-width: toEm(520)) {
         font-size: toRem(14);
         padding: toRem(5);
      }
      @media (max-width: toEm(320)) {
         display: none;
      }
   }
}
.icon-menu {
   display: none;
   @media (max-width: toEm(979.98)) {
      width: toRem(30);
      display: block;
      border: none;
      outline: none;
      flex: 0 0 toRem(30);
      height: toRem(18);
      position: relative;
      z-index: 5;
      &::before,
      &::after,
      & span {
         content: "";
         height: toRem(2);
         width: 100%;
         position: absolute;
         left: 0;
         transition: all 0.3s;
         background-color: $hederColor;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      & span {
         top: 50%;
         margin-top: toRem(-1);
      }
      .menu-open & span {
         transform: scale(0);
      }
      .menu-open &::before {
         transform: rotate(-45deg);
         top: 50%;
         margin-top: toRem(-1);
      }
      .menu-open &::after {
         transform: rotate(45deg);
         bottom: 50%;
         margin-bottom: toRem(-1);
      }
   }
}

//=======================================================
.page {
   padding-top: toRem(65);
}
.hero {
   display: flex;
   min-height: 100vh;
   position: relative;
   &:not(:last-child) {
      margin-bottom: toRem(148);
      @media (max-width: toEm(979.98)) {
         &:not(:last-child) {
            margin-bottom: toRem(50);
         }
      }
   }
   // .hero__image

   &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }

   // .hero__content

   &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #37393fd2;
      z-index: 2;
      backdrop-filter: blur(6.5px);
      flex: 0 0 toRem(628);
      padding: toRem(11);
      @media (max-width: toEm(767.98)) {
         flex: 1 1 toRem(928);
      }
   }

   // .hero__body

   &__body {
      max-width: toRem(529);
   }

   // .hero__header

   &__header {
      color: $whiteColor;
      &:not(:last-child) {
         margin-bottom: toEm(20, 10);
      }
   }

   // .hero__label

   &__label {
      font-weight: 600;
      line-height: 1.46;
      display: flex;
      align-items: flex-start;
      gap: toRem(7);
      &:not(:last-child) {
         margin-bottom: toRem(10);
      }
      &::before {
         content: "";
         width: toRem(11);
         height: toRem(11);
         background-color: $greenColor;
         margin-top: toRem(7);
         flex: 0 0 toRem(11);
      }
   }

   // .hero__tittle

   &__tittle {
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 60, 24);
      font-weight: 700;
      line-height: 1.1;
   }

   // .hero__text

   &__text {
      color: $heroText;
      line-height: 1.46;
      font-weight: 500;
      max-width: toRem(482);
      &:not(:last-child) {
         margin-bottom: toRem(35);
      }
   }

   // .hero__actions

   &__actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: toRem(30);
   }

   // .hero__link

   &__link {
      background-color: $greenColor;
      padding: toRem(21) toRem(27);
      color: $hederColor;
      font-weight: 600;
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            border-radius: 10px;
            box-shadow: inset 3px 2px 5px;
         }
      }
   }

   // .hero__watch-link

   &__watch-link {
      display: flex;
      gap: toRem(10);
      align-items: center;
   }

   // .hero__watch-image

   &__watch-image {
      width: toRem(60);
      height: toRem(60);
      transition: transform 0.3s;
      &:hover {
         transform: scale(0.8);
      }
   }

   // .hero__watch-text

   &__watch-text {
      font-weight: 600;
      line-height: 1.21;
      color: $whiteColor;
      transition: text-decoration 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.green {
   color: $greenColor;
}

//==================================================
.page {
   // .page__container

   &__container {
      &:not(:last-child) {
         margin-bottom: toRem(100);
      }
   }

   // .page__section

   &__section {
      display: grid;
      grid-template-columns: 0.4fr 0.6fr;
      @include adaptiveValue("column-gap", 65, 20, 0, 1024, 967.98);
      @media (max-width: toEm(979.98)) {
         grid-template-columns: 1fr;
      }
   }
   &:not(:last-child) {
      margin-bottom: toRem(100);
   }
}
.business {
   // .business__left

   &__left {
      @media (max-width: toEm(979.98)) {
         &:not(:last-child) {
            margin-bottom: toEm(50);
         }
      }
   }

   // .business__image

   &__image {
      aspect-ratio: 408/446;
      object-fit: cover;
      width: 100%;
      &:not(:last-child) {
         margin-bottom: toRem(19);
      }
   }

   // .business__content

   &__content {
   }

   // .business__title

   &__title {
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 30, 24, 0, 1024, 967.98);
      line-height: 1.21;
      font-weight: 600;
      color: $hederColor;
      &:not(:last-child) {
         margin-bottom: toEm(13);
      }
   }

   // .business__text

   &__text {
      line-height: 1.46;
      @include adaptiveValue("font-size", 19, 14, 0, 1024, 967.98);
      &:not(:last-child) {
         margin-bottom: toEm(15);
      }
   }

   // .business__link

   &__link {
      font-weight: 600;
      color: $hederColor;
      transition: text-decoration 0.3s;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }

      @media (max-width: toEm(967.98)) {
         border-bottom: 2px solid $hederColor;
      }
   }

   // .business__welcome

   &__welcome {
   }
}
.welcome {
   max-width: toRem(673);
   // .welcome__header

   &__header {
   }

   // .welcome__label

   &__label {
      display: flex;
      color: $hederColor;
      font-weight: 500;
      gap: toRem(6);
      &:not(:last-child) {
         margin-bottom: toEm(16);
      }
      &::before {
         content: "";
         width: toRem(12);
         height: toRem(12);
         background-color: $greenColor;
         flex: 0 0 toRem(12);
         margin-top: toRem(3);
      }
   }

   // .welcome__title

   &__title {
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 40, 26, 0, 1024, 967.98);
      font-weight: 700;
      line-height: 1.21;
      color: $hederColor;
   }

   // .welcome__text

   &__text {
      line-height: 1.46;
      @include adaptiveValue("font-size", 18, 14, 0, 1024, 967.98);
      &:not(:last-child) {
         margin-bottom: toEm(20);
      }
      & p {
         &:not(:last-child) {
            margin-bottom: toEm(15);
         }
      }
   }

   // .welcome__list

   &__list {
      &:not(:last-child) {
         margin-bottom: toEm(43);
      }
   }

   // .welcome__item

   &__item {
      display: flex;
      gap: toRem(8);
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 20, 16, 0, 1024, 967.98);
      color: $hederColor;
      &:not(:last-child) {
         margin-bottom: toEm(23);
      }
      &::before {
         content: "";
         background: url(../img/check.svg) center/ contain no-repeat;
         width: toRem(27);
         height: toRem(27);
         margin-top: toRem(-3);
      }
   }
   &__link {
      color: $whiteColor;
      font-weight: 600;
      text-align: center;
      background-color: $buttonColor;
      padding: toRem(21) toRem(27) toRem(22);
      transition: all 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $buttonColor;
            background-color: $greenColor;
            border-radius: toRem(10);
         }
      }
   }
   // .welcome__benefits

   &__benefits {
   }
}
.benefits {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(toRem(295), 1fr));
   @include adaptiveValue("gap", 21, 15, 0, 1024, 768);
   &:not(:last-child) {
      margin-bottom: toEm(37);
   }
   // .benefits__cards

   &__cards {
      display: flex;
      @include adaptiveValue("gap", 21, 15, 0, 1024, 967.98);
      border: 1px solid #e3e3e3;
      padding: toEm(32);
   }

   // .benefits__image

   &__image {
      width: toRem(39);
      height: toRem(39);
   }

   // .benefits__content

   &__content {
   }

   // .benefits__title

   &__title {
      font-family: "Poppins", sans-serif;
      color: $hederColor;
      font-weight: 600;
      @include adaptiveValue("font-size", 20, 18, 0, 1024, 967.98);
      &:not(:last-child) {
         margin-bottom: toEm(7);
      }
   }

   // .benefits__text

   &__text {
      @include adaptiveValue("font-size", 16, 14, 0, 1024, 967.98);
      line-height: 1.35;
   }

   // .benefits__link

  
}
//==============================================================

.brand {
   max-width: toRem(1171);
   margin: 0 auto;
   padding-left: toRem(15);
   padding-right: toRem(15);
   &:not(:last-child) {
      margin-bottom: toRem(87);
   }

   // .brand__body

   &__body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(toRem(200), 1fr));
      justify-items: center;
      @include adaptiveValue("gap", 30, 50, 0, 967.98, 768.98);
   }

   // .brand__link

   &__link {
      transition: transform 0.3s;
      & .brand__image:hover {
         transform: scale(0.8);
      }
   }

   // .brand__image

   &__image {
      aspect-ratio: 1/1;
      object-fit: cover;
   }
}
//===========================================================
.solutions {
   @include adaptiveValue("margin-bottom", 131, 50, 0, 1200, 767.98);
   
   // .solutions__container

   &__container {
   }

   // .solutions__header

   &__header {
      text-align: center;
      &:not(:last-child) {
         margin-bottom: toEm(40);
      }
   }

   // .solutions__label

   &__label {
      font-weight: 500;
      line-height: 1.22;
      color: $hederColor;
      justify-content: center;
      &:not(:last-child) {
         margin-bottom: toEm(16);
      }
      &::before {
         content: "";
         width: toRem(12);
         height: toRem(12);
         background-color: $greenColor;
         margin-top: toRem(3);
         display: inline-block;
      }
   }
   &__title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      @include adaptiveValue("font-size", 40, 28, 0, 1024, 967.98);
      color: $hederColor;
   }
   // .solutions__body

   &__body {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(toRem(320), 1fr));
      @include adaptiveValue("column-gap", 32, 20, 0, 1024, 967.98);
      @include adaptiveValue("row-gap", 27, 15, 0, 1024, 967.98);
   }

   // .solutions__cards

   &__cards {
      display: flex;
      justify-content: space-between;
      gap: toEm(15);
      padding: toEm(30);
      background-color: $ligteGray;
   }

   // .solutions__card-text

   &__card-text {
   }

   // .solutions__subtitle

   &__subtitle {
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 25, 20, 0, 1024, 967.98);
      line-height: 1.25;
      color: $hederColor;
      &:not(:last-child) {
         margin-bottom: toEm(27);
      }
   }

   // .solutions__link

   &__link {
      font-weight: 600;
      color: $buttonColor;
      line-height: 1.22;
      transition: color 0.3s;
      @media (any-hover: hover) {
         &:hover {
            color: $greenColor;
         }
      }
   }

   // .solutions__card-image

   &__card-image {
      aspect-ratio: 72/72;
      object-fit: cover;
   }
}


.cards-link {
   padding: 0;
   background-color: $buttonColor;
   overflow: hidden;
   transition: backgraund-color 0.3s;
   @media (any-hover: hover) {
      & .cards-link__item:hover {
         background-color: $greenColor;
      }
   }

   // .cards-link__item

   &__item {
      padding: toRem(72) toRem(10);
      font-weight: 600;
      font-size: toRem(25);
      color: $whiteColor;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
//=============================================================
.choose {
   display: flex;
   background-color: $hederColor;
   width: 100%;
   color: $whiteColor;
   @include adaptiveValue("gap", 74, 25, 0, 1360, 1024);
   justify-content: flex-end;
   @media (max-width: toEm(1359)) {
      flex-direction: column;
      align-items: center;
      padding-top: toRem(20);
   }
   // .choose__content

   &__content {
   }

   // .choose__body

   &__body {
      @include adaptiveValue("padding-top", 119, 50, 0, 1200, 967.98);
      @include adaptiveValue("padding-bottom", 119, 50, 0, 1200, 967.98);
      padding-left: toEm(15);
      padding-right: toEm(15);
      max-width: toRem(610);
   }

   // .choose__header

   &__header {
      &:not(:last-child) {
         margin-bottom: toRem(13);
      }
   }

   // .choose__label

   &__label {
      font-weight: 500;
      line-height: 1.22;
      display: inline-flex;
      gap: toRem(6);
      &::before {
         content: "";
         width: toRem(12);
         height: toRem(12);
         background-color: $greenColor;
         flex: 0 0 toRem(12);
         margin-top: toRem(3);
      }
      &:not(:last-child) {
         margin-bottom: toRem(13);
      }
   }

   // .choose__title

   &__title {
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      @include adaptiveValue("font-size", 30, 40, 0, 97.98, 1024);
   }

   // .choose__text

   &__text {
      line-height: 1.44;
      @include adaptiveValue("font-size", 18, 24, 0, 967.98, 1024);
      &:not(:last-child) {
         margin-bottom: toEm(36);
      }
   }

   // .choose__counter

   &__counter {
   }

   // .choose__info

   &__info {
      display: grid;
      grid-template-columns: 0.515fr 0.48fr;
      row-gap: toRem(23);
      column-gap: toRem(37);
      @media (max-width: toEm(425)) {
         grid-template-columns: 1fr;
         
      }
   }
   &__info-item {
   }
   // .choose__info-item

   &__info-item p {
      display: flex;
      align-items: center;
      column-gap: toRem(8);
   }

   // .choose__number

   &__number {
      font-weight: 700;
      font-size: toRem(20);
      line-height: 1.5;
      display: inline-flex;
      column-gap: toRem(8);
      &::before {
         content: "";
         width: toRem(27);
         height: toRem(27);
         background: url(../img/arrow-green.svg) center/contain no-repeat;
      }
   }

   // .choose__image

   &__image {
      aspect-ratio: 868/741;
      object-fit: cover;
      @media (max-width: toEm(425)) {
         display: none;
      }
   }
}
.counter {
   display: flex;
   gap: toRem(15);
   align-items: center;
   @media (max-width: toEm(425)) {
      flex-direction: column;
   }

   &:not(:last-child) {
      margin-bottom: toEm(36);
   }
   &__body {
   }
   // .counter__image

   &__image {
      width: toRem(79);
      height: toRem(79);
      aspect-ratio: 1/1;
      object-fit: contain;
   }

   // .counter__text

   &__text {
   }

   // .counter__check

   &__check {
      line-height: 1.35;
      font-size: 16px;
   }

   // .counter__title

   &__title {
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      line-height: 1.5;
   }
}
.stars {
   font-weight: 600;
   font-size: toRem(20);
   line-height: 1.5;
   color: #ffb342;
   display: flex;
   &__item {
      display: flex;
      column-gap: 5px;
      align-items: center;
      &::after {
         content: "";
         background: url(../img/start.svg) center/ contain no-repeat;
         width: toRem(15);
         height: toRem(15);
         display: inline-block;
      }
   }
}
.item-link {
   color: $greenColor;
   font-weight: 600;
   transition: all 0.3s;

   @media (any-hover: hover) {
      &:hover {
         text-decoration: underline;
      }
   }
}
